.card-body{
	display: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  .image1 {
    display: block;
    width: 100%;
    height: 90%;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
   
  }
  .zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
  .container {
    position: relative;
    width: 100%;
  }
  .container:hover .overlay {
    height: 100%;
  }

  .carousel-caption{
    left:8% !important;
  }


  .carousel-control-next, .carousel-control-prev{
    margin-top: 90px !important;
  }
  .height
  {
    line-height: 0.5;
  }


    