
<div style="background-color: black;">
    <div class="text-right"> 
        <br>
    <a (click)="cancel()">
        <img src="/assets/img/closeicon1.png" width="40" height="40">
    </a>
</div>
<!--https://docs.videojs.com/tutorial-angular.html-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <video id="myVideo" #target class="video-js vjs-default-skin vjs-16-9" controls muted playsinline preload="none"  oncontextmenu="return false;" ></video>
    
</div>
</div>




  
  