<!-- Footer -->

<footer class="page-footer font-small blue pt-4" style="background-color: black;border: black;padding-left: 20px; padding-right: 20px;">

  <div class="container-fluid text-center text-md-left"  style="background-color: black;border: black;overflow: hidden; ">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 text-light">

        <!-- Content -->
        <a href="#" class="stylefooter">FAQ</a> &nbsp; | &nbsp;   <a href="#" class="stylefooter">Terms of Uses</a> &nbsp; |  &nbsp; <a href="#" class="stylefooter">Privacy Policy</a> &nbsp; |  &nbsp;   <a href="#" class="stylefooter">Contact Us</a> 


        <br>
        <br>
        <p class="stylefooter">@2020 &nbsp; Queen-Prime Limited.&nbsp;All Rights Reserved.</p>    
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">


    
    
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6" >

        <!-- Links -->

         <div class="page-content page-container" id="page-content">
     <div class="padding">
         <div class="row container d-flex justify-content-center" style="margin-left: 100px;">
          <button>
          <img src="assets/img/googleplaybutton.png" alt="googleplay" width="100" height="50">
        </button>
        &nbsp;
        &nbsp;
        
          <button>
            <img src="assets/img/appstorebutton.svg" alt="appstore" width="100" height="50">
          </button>
             
        </div>
     </div>
 </div>
       
        </div>
      <!-- Grid column -->

    

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
 
  <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

