<div style="background-image: url('assets/img/indexbackground.png'); background-repeat: no-repeat;background-size: 100% 100%;">
 
    <div class="text-center" style="padding-top: 60px;">  
    <img src="assets/img/finallogo.svg"  alt="logo" width="300" height="300">
    </div>
    <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-left:80px;">
                        <h1 class="white" style="font-size: 28px;"><b>Log in with your mobile/web browser</b></h1>                        <br>
                        <p class="white" style="font-size: 18px;">1. Goto www.queenprime.com</p>
                        <p class="white" style="font-size: 18px;">2. Login to your Queenprime account</p>
                        <p class="white" style="font-size: 18px;">3. Enter the 4 digit code given below</p>
                        <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text mar white1">A</span>
                              <span class="input-group-text mar white1">A</span>
                              <span class="input-group-text mar white1">A</span>
                              <span class="input-group-text mar white1">A</span>
                            </div>
                            
                          </div>
                    </div>
                       <div class="col-md-6">
                        
                         <img src="assets/img/icon12.png"  alt="images" width="500" height="300">
    
                        </div>
                </div>
            </div>
            
        </div>
      
    
  
    <br>
    <br>
    <br>
    <br>
    <br>
    
    