.style1
{
    font-family: univia pro;
    color:white;
}
.row
{
    margin-right: 0px;
    margin-left: 0px;
}
.rectangle2 {
   
    border-radius: 7px;
    background: linear-gradient(180deg, #C79C37 0%, #C79C37 100%);
  }